Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*

docs(readme): update options section with new possible values for threads, requests and timeout arguments
  README.md
Labels: documentation

docs(dockerhub): update options section with new possible values for threads, requests and timeout arguments
  docker/OVERVIEW.md
Labels: docker, documentation

tests: fix read custom servers list ipv4 test
  src/custom.rs
Labels: rust

docs: add all unreleased changes to the changelog
  CHANGELOG.md
Labels: documentation

v0.9.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docker/Dockerfile
  docker/OVERVIEW.md
  docker/build.sh
  docker/push.sh
Labels: dependencies, docker, documentation

ci: implement workflow for automated docker images build / test / push
  .github/workflows/docker.yml
  docker/Dockerfile
Labels: ci, docker, github_actions

ci: use tag latest during images testing
  .github/workflows/docker.yml
Labels: ci, github_actions

docs(readme): replace versioned docker tags with latest
  README.md
Labels: documentation

docs(changelog): add docker image related changes to the v0.9.0 release description
  CHANGELOG.md
Labels: documentation

docs(dockerhub): replace versioned docker tags with latest
  docker/OVERVIEW.md
Labels: docker, documentation

infra: remove script for pushing docker images
  docker/push.sh
Labels: docker

infra: rework script for building docker images for testing
  docker/build.sh
Labels: docker

infra: add script for testing docker images
  docker/test.sh
Labels: docker

docs: update release document according to the recent project changes
  RELEASE.md
Labels: documentation

docs: remove checkboxes from the release document
  RELEASE.md
Labels: documentation

docs: remove redundant list item from release checklist
  RELEASE.md
Labels: documentation

ci: pin docker/build-push-action by hash
  .github/workflows/docker.yml
Labels: ci, github_actions

lints: resolve uninlined format args clippy lints on the nightly toolchain
  src/app.rs
  src/config.rs
  src/result.rs
Labels: rust

ci: docker workflow file formatting
  .github/workflows/check.yml
Labels: ci, github_actions

chore: set check command for rust-analyzer in vscode settings
  .vscode/settings.json
Labels: none

docs: removed old preview gif-animation
  example.gif
Labels: none

docs: added two new separate preview gifs for crate and docker container
  docs/assets/crate-preview.gif
  docs/assets/dockerhub-preview.gif
Labels: none

docs(readme): update preview gif-animation path
  README.md
Labels: documentation

docs(dockerhub): update preview gif-animation path
  docker/OVERVIEW.md
Labels: docker, documentation

build: remove gifs from published package to reduce its size
  Cargo.toml
Labels: dependencies

docs(readme): enhanced description / fixed grammatical errors / replaced example word with preview
  README.md
Labels: documentation

docs(dockerhub): enhanced description / fixed grammatical errors / replaced example word with preview
  docker/OVERVIEW.md
Labels: docker, documentation

docs: add all unreleased changes into changelog
  CHANGELOG.md
Labels: documentation

v0.9.1
  .github/workflows/docker.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: ci, dependencies, documentation, github_actions

docs: add clarification to the build section of v0.9.1 release changelog
  CHANGELOG.md
Labels: documentation

chore: bump MSRV to 1.82.0
  Cargo.toml
Labels: dependencies

docs(readme): update rust version badge
  README.md
Labels: documentation

chore: remove buymeacoffee link since they are not working in Ukraine anymore
  .github/FUNDING.yml
Labels: none

chore: remove reviewers field from the dependabot config due to deprecation
  .github/dependabot.yml
Labels: none

chore: replace deprecated dependabot reviewers assignment with codeowners file
  .github/CODEOWNERS
Labels: none

chore: use recursive pattern in codeowners file to ensure covering all files
  .github/CODEOWNERS
Labels: none

feat: implement system DNS servers autodetection and use of them during the bench
  examples/ipconfig_all.txt
  examples/resolv.conf
  examples/scutil_dns.txt
  src/app.rs
  src/main.rs
  src/system.rs
Labels: rust

refactor: use same error message for missing system DNS entries on all platforms
  src/system.rs
Labels: rust

refactor: implement helper function to avoid code duplication
  src/system.rs
Labels: rust

chore: move testing related files from examples into the tests/assets/ folder
  src/system.rs
  tests/assets/ipconfig_all.txt
  tests/assets/resolv.conf
  tests/assets/scutil_dns.txt
Labels: rust
