Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

chore: add prettier config with yaml formatting options
  .prettierrc
Labels: none

chore: add esbenp.prettier-vscode extension as workspace recommended
  .vscode/extensions.json
Labels: none

docs(readme): add example of using custom servers list feature with docker container
  README.md
Labels: documentation

docs(dockerhub): add example of using custom server list feature
  docker/OVERVIEW.md
Labels: docker, documentation

docs(dockerhub): remove table of contents which doesn't work on hub.docker.com website
  docker/OVERVIEW.md
Labels: docker, documentation

docs(changelog): add all unreleased changes
  CHANGELOG.md
Labels: documentation

feat: add Dyn to the built-in servers list
  README.md
  docker/OVERVIEW.md
  examples/ipv4-custom-servers-example.txt
  src/custom.rs
  src/servers.rs
Labels: docker, documentation, rust

docs(readme): update built-in servers list formatting
  README.md
Labels: documentation

docs(dockerhub): update built-in servers list formatting
  docker/OVERVIEW.md
Labels: docker, documentation

docs(changelog): added Dyn to the built-in servers list
  CHANGELOG.md
Labels: documentation

docs(changelog): note updated formatting of built-in servers list
  CHANGELOG.md
Labels: documentation

docs(changelog): bump serde from 1.0.216 to 1.0.217
  CHANGELOG.md
Labels: documentation

v0.7.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docker/Dockerfile
  docker/OVERVIEW.md
  docker/build.sh
  docker/push.sh
Labels: dependencies, docker, documentation

docs: update release checklist
  RELEASE.md
Labels: documentation

feat: Add Hurricane Electric to the built-in servers list
  README.md
  docker/OVERVIEW.md
  examples/ipv4-custom-servers-example.txt
  examples/ipv6-custom-servers-example.txt
  src/custom.rs
  src/servers.rs
Labels: docker, documentation, rust

chore: enable final newline insertion in vscode settings
  .vscode/settings.json
Labels: none

ci: remove log level option from MSRV find command
  .github/workflows/check.yml
Labels: ci, github_actions

feat: implement JSON and XML output formats (closes #19)
  Cargo.lock
  Cargo.toml
  examples/output-example.json
  examples/output-example.xml
  src/app.rs
  src/args.rs
  src/config.rs
  src/result.rs
Labels: dependencies, rust

fix: correct spelling mistake
  src/app.rs
  src/result.rs
Labels: rust

chore: update XML and JSON output examples
  examples/output-example.json
  examples/output-example.xml
Labels: none

docs(readme): update features and options sections with information about new format option
  README.md
Labels: documentation

refactor: properly handle XML conversion errors instead of calling .unwrap()
  src/result.rs
Labels: rust

docs(dockerhub): update features and options sections with information about new format option
  docker/OVERVIEW.md
Labels: docker, documentation

fix: fix spelling mistake in XmlConversionError enum name
  src/result.rs
Labels: rust

tests: cover result entries conversion with more tests
  src/result.rs
Labels: rust

docs: add all unreleased changes to the changelog
  CHANGELOG.md
Labels: documentation

v0.8.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docker/Dockerfile
  docker/OVERVIEW.md
  docker/build.sh
  docker/push.sh
Labels: dependencies, docker, documentation

chore: sort dependencies in alphabetical order
  Cargo.toml
Labels: dependencies

feat: implement CSV output format (closes #185)
  Cargo.lock
  Cargo.toml
  examples/output-example.csv
  src/app.rs
  src/args.rs
  src/result.rs
Labels: dependencies, rust

docs(readme): update features and options sections with information about new CSV format
  README.md
Labels: documentation

refactor: replace .unwrap() calls on mutex lock with .expect(errmsg)
  src/app.rs
Labels: rust

docs(dockerhub): update features and options sections with information about new CSV format
  docker/OVERVIEW.md
Labels: docker, documentation

feat: add Surfshark DNS to the built-in servers list
  README.md
  docker/OVERVIEW.md
  examples/ipv4-custom-servers-example.txt
  src/custom.rs
  src/servers.rs
Labels: docker, documentation, rust

refactor: add missing comment for print result CSV function
  src/app.rs
Labels: rust

refactor: update CSV format output to be more convenient for parsing
  src/result.rs
Labels: rust

chore: update CSV output example
  examples/output-example.csv
Labels: none

tests: cover CSV result entries conversion with tests
  src/result.rs
Labels: rust

feat: add SafeServe to the built-in servers list
  README.md
  docker/OVERVIEW.md
  examples/ipv4-custom-servers-example.txt
  src/custom.rs
  src/servers.rs
Labels: docker, documentation, rust

feat: enhance numeric command line arguments validation (closes #192)
  src/args.rs
  src/config.rs
Labels: rust

fix: add missing requests timeout value to the summary
  src/app.rs
Labels: rust

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
