Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*

docs(assets): Update preview GIFs and PNGs to reflect latest changes
  docs/assets/crate-preview.gif
  docs/assets/crate-preview.png
  docs/assets/dockerhub-preview.gif
  docs/assets/dockerhub-preview.png
Labels: none

docs(readme): clarify that automatic gateway detection is disabled in docker container
  README.md
Labels: documentation

docs(changelog): update unreleased documentation section
  CHANGELOG.md
Labels: documentation

v0.13.0
  .github/workflows/docker.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: ci, dependencies, documentation, github_actions

feat: add support of linux/riscv64 architecture
  .github/workflows/docker.yml
Labels: ci, github_actions

docs(changelog): add note about linux/riscv64 architecture
  CHANGELOG.md
Labels: documentation

build: add target installation command to the windows exe build script
  build-win-exe.sh
Labels: none

chore: rephrase the comment to more accurately reflect the purpose of the command
  build-win-exe.sh
Labels: none

docs: add security protocol for reporting vulnerabilities
  SECURITY.md
Labels: none
