Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*

docs(changelog): remove redundant indentation
  CHANGELOG.md
Labels: documentation

docs(changelog): remove redundant trailing whitespace at the end of line
  CHANGELOG.md
Labels: documentation

docs(changelog): use the standart heading instead of custom to align with keep a changelog format
  CHANGELOG.md
Labels: documentation

docs(changelog): fixed typo in the release description
  CHANGELOG.md
Labels: documentation

docs(changelog): gather all unreleased changes
  CHANGELOG.md
Labels: documentation

docs(changelog): rephrasing for improved clarity
  CHANGELOG.md
Labels: documentation

docs(changelog): add info about updated descriptions of the old versions
  CHANGELOG.md
Labels: documentation

docs(changelog): rephrasing for improved clarity
  CHANGELOG.md
Labels: documentation

v0.10.1
  .github/workflows/docker.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: ci, dependencies, documentation, github_actions

chore: add github.vscode-github-actions extension into devcontainer
  .devcontainer/devcontainer.json
Labels: none

chore: fix dependabot config file formatting
  .github/dependabot.yml
Labels: none

chore: configure dependabot to maintain devcontainers
  .github/dependabot.yml
Labels: none

chore: add comments into devcontainer extensions list
  .devcontainer/devcontainer.json
Labels: none

docs(release): add notes about building executable file for windows
  RELEASE.md
Labels: documentation

chore: reduce response timeout inside script for docker image testing
  docker/test.sh
Labels: docker

chore: bump rust version inside devcontainer to 1.88.0
  .devcontainer/devcontainer.json
Labels: none

docs(release): fix grammatical error
  RELEASE.md
Labels: documentation

docs(release): capitalize Windows for consistency and correctness
  RELEASE.md
Labels: documentation

docs(release): rewrite the line about MSRV change
  RELEASE.md
Labels: documentation

feat: implement configuration management subcommands (closes #61)
  src/app.rs
  src/cli.rs
  src/config.rs
  src/custom.rs
  src/main.rs
Labels: rust

refactor: rename method of config load result enum to
  src/app.rs
  src/config.rs
  src/main.rs
Labels: rust

docs(readme): rework options section into command line reference to include subcommands info
  README.md
Labels: documentation

docs(dockerhub): rework options section into command line reference to include subcommands info
  docker/OVERVIEW.md
Labels: docker, documentation

docs(readme): add config file management subcomamnds to the features list
  README.md
Labels: documentation

docs(dockerhub): add config file management subcomamnds to the features list
  docker/OVERVIEW.md
Labels: docker, documentation

refactor: remove return in the middle of the match statement to improve readability
  src/main.rs
Labels: rust

feat: add Vercara UltraDNS Public to the built-in servers list
  README.md
  docker/OVERVIEW.md
  examples/ipv4-custom-servers-example.txt
  examples/ipv6-custom-servers-example.txt
  src/custom.rs
  src/servers.rs
Labels: docker, documentation, rust

chore: pull requests cache clean workflow file formatting
  .github/workflows/prs-cache-clean.yml
Labels: ci, github_actions

feat: change help command template to include author and repository link
  Cargo.toml
  src/args.rs
Labels: dependencies, rust

refactor: move all arguments enums to separate file
  src/app.rs
  src/args.rs
  src/cli.rs
  src/config.rs
  src/custom.rs
  src/main.rs
Labels: rust

fix: dependabot devcontainer directory path
  .github/dependabot.yml
Labels: none

feat: change subcommands help template same way as for main command
  src/cli.rs
  src/main.rs
Labels: rust

docs(license): update copyright years
  LICENSE-MIT
Labels: none

docs(changelog): add all unreleased changes
  CHANGELOG.md
Labels: documentation

refactor: use macro for empty command structs generation to reduce code size
  src/cli.rs
Labels: rust

v0.11.0
  .github/workflows/docker.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: ci, dependencies, documentation, github_actions

docs(release): add new list item about required manual testing of windows executable file
  RELEASE.md
Labels: documentation

docs(release): add note about changing version inside readme installation section
  RELEASE.md
Labels: documentation

docs(release): rewrite version updates notes for better guidance
  RELEASE.md
Labels: documentation

chore: use latest rust version when rebuilding devcontainer
  .devcontainer/devcontainer.json
Labels: none
