Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

chore: use 16 threads in docker test script
  docker/test.sh
Labels: docker

refactor: commands related code refactoring
  src/app.rs
  src/bench.rs
  src/commands/bench.rs
  src/commands/config.rs
  src/commands/mod.rs
  src/main.rs
Labels: rust

docs: dockerhub overview refactoring
  docker/OVERVIEW.md
Labels: docker, documentation

docs: break lines for long commands inside readme
  README.md
Labels: documentation

Docker: Update dockerfile to use alpine as as base image
  docker/Dockerfile
Labels: docker

refactor: change args imports in bench runner
  src/bench.rs
Labels: rust

refactor: replace long if-else chain with match statement for better readability
  src/bench.rs
Labels: rust

docs(dockerhub): remove trailing space after command
  docker/OVERVIEW.md
Labels: docker, documentation

docs(dockerhub): return preview image and animation to the document
  docker/OVERVIEW.md
Labels: docker, documentation

docs(dockerhub): don't allocate TTY when saving the output into file on host
  docker/OVERVIEW.md
Labels: docker, documentation

ci: add docker image job into check workflow to catch regressions early
  .github/workflows/check.yml
  docker/test-ci.sh
Labels: ci, docker, github_actions

docs(readme): add note about system servers autodetection feature usage with docker
  README.md
Labels: documentation

ci: replace /bin/bash with /bin/sh in ./docker/test-ci.sh for compatibility with alpine
  docker/test-ci.sh
Labels: docker

chore: chmod +x ./docker/test-ci.sh
  docker/test-ci.sh
Labels: docker

build(docker): replace /bin/bash with /bin/sh inside testing script for compatibility with alpine
  docker/test.sh
Labels: docker

build(docker): sync supported architectures with apline image
  .github/workflows/docker.yml
Labels: ci, github_actions

docs(readme): replace /bin/bash with /bin/sh
  README.md
Labels: documentation

docs(dockerhub): replace /bin/bash with /bin/sh
  docker/OVERVIEW.md
Labels: docker, documentation

ci: replace /bin/bash with /bin/sh inside docker workflow
  .github/workflows/docker.yml
Labels: ci, github_actions

feat: gateway address autodetection
  docker/Dockerfile
  examples/ipv4-custom-servers-example.txt
  examples/ipv6-custom-servers-example.txt
  src/bench.rs
  src/cli.rs
  src/config.rs
  src/custom.rs
  src/gateway.rs
  src/main.rs
  src/resolver.rs
  src/servers.rs
  src/system.rs
  src/test_utils.rs
  tests/assets/gateway/linux_ip_route_default.txt
  tests/assets/gateway/linux_proc_net_route.txt
  tests/assets/gateway/mac_netstat_rn.txt
  tests/assets/gateway/mac_route_get_default.txt
  tests/assets/gateway/win_route_print.txt
  tests/assets/gateway/win_route_print_ru.txt
  tests/assets/system/ipconfig_all.txt
  tests/assets/system/ipconfig_all_ru.txt
  tests/assets/system/resolv.conf
  tests/assets/system/scutil_dns.txt
Labels: docker, rust

fix: use actual protocol and lookup ip config for gateway DNS responsiveness validation
  src/bench.rs
Labels: rust

docs(readme): update features and description sections with new gateway detection feature
  README.md
Labels: documentation

docs(readme): add skip gateway detection option
  README.md
Labels: documentation

docs(dockerhub): update container default command
  docker/OVERVIEW.md
Labels: docker, documentation

chore: remove duplicate README.md entry from Cargo.toml file
  Cargo.toml
Labels: dependencies

refactor: avoid code duplication inside parse proc net route content function
  src/gateway.rs
Labels: rust

refactor: move some magic numbers into named constants
  src/bench.rs
Labels: rust

refactor: remove redundant match statement
  src/gateway.rs
Labels: rust

refactor: use parantheses in IP version matching logic for clarity
  src/bench.rs
Labels: rust

refactor: move long logic out of the if statements
  src/bench.rs
Labels: rust

refactor: use shorter std::collections reference
  src/bench.rs
Labels: rust

refactor: import std::net::SocketAddr for shorter references
  src/bench.rs
Labels: rust

refactor: use clearer approach for little-endian bytes conversion
  src/gateway.rs
Labels: rust

docs(readme): remove incorrect notice about system servers autodetection when using docker
  README.md
Labels: documentation

docs(dockerhub): remove incorrect notice about system server autodetection
  docker/OVERVIEW.md
Labels: docker, documentation

docs(dockerhub): rollback changes inside license section
  docker/OVERVIEW.md
Labels: docker, documentation

docs(readme): simplify custom servers list docker example
  README.md
Labels: documentation

docs(readme): update formatting of built-in servers list to the table with subtables
  README.md
Labels: documentation

docs(readme): remove non-working width attribute from the table tag
  README.md
Labels: documentation

docs(dockerhub): better formatting of custom servers examples links
  docker/OVERVIEW.md
Labels: docker, documentation

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
