Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*

docs(readme): add system servers autodetection to the features list
  README.md
Labels: documentation

docs(dockerhub): add system servers autodetection to the features list
  docker/OVERVIEW.md
Labels: docker, documentation

docs(readme): update description with system servers autodetection feature
  README.md
Labels: documentation

docs(dockerhub): update description with system servers autodetection feature
  docker/OVERVIEW.md
Labels: docker, documentation

docs(readme): review description grammar and spelling
  README.md
Labels: documentation

docs(dockerhub): review description grammar and spelling
  docker/OVERVIEW.md
Labels: docker, documentation

feat: implement --skip-system-servers option
  src/app.rs
  src/args.rs
  src/config.rs
Labels: rust

docs(readme): add skip system servers to the options table
  README.md
Labels: documentation

docs(dockerhub): add skip system servers to the options table
  docker/OVERVIEW.md
Labels: docker, documentation

build: skip system servers when running inside docker container
  docker/Dockerfile
Labels: docker

docs(readme): add notice that system servers will be skipped in docker container
  README.md
Labels: documentation

docs(dockerhub): add notice that system servers will be skipped in docker container
  docker/OVERVIEW.md
Labels: docker, documentation

docs(readme): completely rework the features section
  README.md
Labels: documentation

docs(dockerhub): completely rework the features section
  docker/OVERVIEW.md
Labels: docker, documentation

chore: add comment with warning about importance of serde default attributes for new fields in config structure
  src/config.rs
Labels: rust

docs(readme): add image preview besides animation
  README.md
  docs/assets/crate-preview.png
Labels: documentation

docs(dockerhub): add image preview besides animation
  docker/OVERVIEW.md
  docs/assets/dockerhub-preview.png
Labels: docker, documentation

docs(readme): update preview animation
  docs/assets/crate-preview.gif
Labels: none

docs(dockerhub): update preview animation
  docs/assets/dockerhub-preview.gif
Labels: none

docs(readme): fix missing hyphen in the options section
  README.md
Labels: documentation

docs(dockerhub): fix missing hyphen in the options section
  docker/OVERVIEW.md
Labels: docker, documentation

refactor: log system servers retrieval error into the console
  src/app.rs
Labels: rust

docs(changelog): add all unreleased changes
  CHANGELOG.md
Labels: documentation

docs(changelog): fix grammatical error in split word
  CHANGELOG.md
Labels: documentation

fix: remove extra bracket in the doc comment
  src/result.rs
Labels: rust

docs(changelog): change "it's inclusion" to "its inclusion" for the correct possessive form
  CHANGELOG.md
Labels: documentation

docs(changelog): rephrase for clarity
  CHANGELOG.md
Labels: documentation

docs(changelog): use the official branding "Docker Hub" instead of "DockerHub"
  CHANGELOG.md
Labels: documentation

v0.10.0
  .github/workflows/docker.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: ci, dependencies, documentation, github_actions

docs(changelog): fix docker hub branding
  CHANGELOG.md
Labels: documentation

chore: add github.vscode-github-actions extension as workspace recommended
  .vscode/extensions.json
Labels: none

chore: create devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/install.sh
Labels: none

build: add script and cargo config for building windows executable
  .cargo/config,toml
  build-win-exe.sh
Labels: none

docs(changelog): capitalize “Docker” when referring to Docker container for consistency
  CHANGELOG.md
Labels: documentation

build: fix cargo config file name
  .cargo/config.toml
Labels: none

docs(readme): add information about windows executable file into installation section
  README.md
Labels: documentation

feat: adjust system servers autodetection on windows to work with non english locales
  src/system.rs
  tests/assets/ipconfig_all_ru.txt
Labels: rust

fix: remove duplicated condition
  src/system.rs
Labels: rust

refactor: use cargo manifest dir path env in tests for reliability
  src/system.rs
Labels: rust

docs(changelog): update old versions descriptions to adhere keep a changelog format
  CHANGELOG.md
Labels: documentation
