Repository qwerty541/dns-bench, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, docker, documentation, github_actions, rust

chore: add platform related prefixes for the system tests assets files
  src/system.rs
  tests/assets/system/linux_resolv.conf
  tests/assets/system/mac_scutil_dns.txt
  tests/assets/system/win_ipconfig_all.txt
  tests/assets/system/win_ipconfig_all_ru.txt
Labels: rust

docs(dockerhub): fix makrdown syntax malformed by nested brackets in license section
  docker/OVERVIEW.md
Labels: docker, documentation

feat: implement config list subcommand (resolves #302)
  README.md
  src/app.rs
  src/cli.rs
  src/commands/config.rs
  src/commands/mod.rs
  src/config.rs
Labels: documentation, rust

refactor: replace .unwrap() calls with .expect() containing descriptive error messages
  src/config.rs
Labels: rust

refactor: use shorter reference to the std::fs::remove_file
  src/config.rs
Labels: rust

refactor: more efficient implementation of fmt::Display for config
  src/config.rs
Labels: rust

feat: docker entrypoint
  README.md
  docker/Dockerfile
  docker/OVERVIEW.md
  docker/test-ci.sh
  docker/test.sh
Labels: docker, documentation

docs(changelog): add all unreleased changes
  CHANGELOG.md
Labels: documentation

docs(changelog): fix grammatical error
  CHANGELOG.md
Labels: documentation

docs(changelog): replace login with account link
  CHANGELOG.md
Labels: documentation

docs(changelog): change account link format
  CHANGELOG.md
Labels: documentation

docs(changelog): fix one more grammatical error
  CHANGELOG.md
Labels: documentation

v0.12.0
  .github/workflows/docker.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Labels: ci, dependencies, documentation, github_actions

ci: remove deprecated /bin/sh usage from docker workflow
  .github/workflows/docker.yml
Labels: ci, github_actions

ci: drop linux/arm/v7, linux/386, linux/s390x architectures from docker workflow
  .github/workflows/docker.yml
Labels: ci, github_actions

docs(readme): add total lines count badge
  README.md
Labels: documentation

docs(readme): add cocomo badge
  README.md
Labels: documentation

feat: return previously dropped docker container architectures
  .github/workflows/docker.yml
  docker/Dockerfile
Labels: ci, docker, github_actions

fix: use different rust targets when building for differet architectures
  docker/Dockerfile
Labels: docker

feat: migrate on the debian trixie slim docker runtime environment
  docker/Dockerfile
Labels: docker

docs(changelog): add note about dropping linux/arm/v7, linux/386, linux/s390x docker image architectures into release v0.12.0 description
  CHANGELOG.md
Labels: documentation

chore: shorten cargo install related comment inside dockerfile
  docker/Dockerfile
Labels: docker

docs(readme): add dockerhub pulls badge
  README.md
Labels: documentation

refactor: move output formatting logic into separate modules
  src/bench.rs
  src/main.rs
  src/output/csv.rs
  src/output/json.rs
  src/output/mod.rs
  src/output/table.rs
  src/output/xml.rs
  src/result.rs
Labels: rust

feat: add FlashStart DNS to the built-in servers list (resolves #334)
  README.md
  examples/ipv4-custom-servers-example.txt
  examples/ipv6-custom-servers-example.txt
  src/custom.rs
  src/servers.rs
Labels: documentation, rust

fix: corrected spelling in test function name
  src/output/xml.rs
Labels: none

refactor: shorten the test function name in csv output module
  src/output/csv.rs
Labels: none

feat: implement std::error::Error for OutputFormatterError
  src/output/mod.rs
Labels: none

docs(readme): add license badge URL
  README.md
Labels: documentation

feat: display min/max/avg columns for better matching benchmarking best practices
  examples/output-example.csv
  examples/output-example.json
  examples/output-example.xml
  src/bench.rs
  src/output/csv.rs
  src/output/json.rs
  src/output/table.rs
  src/output/xml.rs
  src/result.rs
Labels: rust

fix: resolve issue with swapped colors caused by wrong column order
  src/output/table.rs
Labels: none

feat: integrate `derive_more` library to replace commonly repeatable code with derives
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/output/csv.rs
  src/output/mod.rs
  src/output/xml.rs
  src/result.rs
Labels: dependencies, rust

feat: specify only required dependency features to reduce compile time and binary size
  Cargo.toml
Labels: dependencies

chore: format dependency features and sort alphabetically
  Cargo.lock
  Cargo.toml
Labels: dependencies

feat: modify the docker container test script to accept arguments and proxy them to the entrypoint
  docker/test.sh
Labels: docker

feat: add arrow symbol into avg duration column title to indicate current sorting
  src/output/table.rs
Labels: none

ci: run check workflow on pull requests targeting non-master branch
  .github/workflows/check.yml
Labels: ci, github_actions

feat: center the content of column titles for better appearance and readability
  src/output/table.rs
Labels: none

docs(changelog): document all unreleased changes
  CHANGELOG.md
Labels: documentation

docs(changelog): update unreleased documentation section
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker/*

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - RELEASE.md
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - docker/OVERVIEW.md

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/labeler.yml

rust:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
