Repository qwerty541/dns-bench, pull requests merged in 2025-09, with the labels that each got.

#301 build(docker): reduce image size by changing the base image to apline
  .github/workflows/docker.yml
  README.md
  docker/Dockerfile
  docker/OVERVIEW.md
  docker/test-ci.sh
  docker/test.sh
Labels: documentation, github_actions, docker, ci

#307 feat: gateway address autodetection
  README.md
  docker/Dockerfile
  docker/OVERVIEW.md
  examples/ipv4-custom-servers-example.txt
  examples/ipv6-custom-servers-example.txt
  src/bench.rs
  src/cli.rs
  src/config.rs
  src/custom.rs
  src/gateway.rs
  src/main.rs
  src/resolver.rs
  src/servers.rs
  src/system.rs
  src/test_utils.rs
  tests/assets/gateway/linux_ip_route_default.txt
  tests/assets/gateway/linux_proc_net_route.txt
  tests/assets/gateway/mac_netstat_rn.txt
  tests/assets/gateway/mac_route_get_default.txt
  tests/assets/gateway/win_route_print.txt
  tests/assets/gateway/win_route_print_ru.txt
  tests/assets/system/ipconfig_all.txt
  tests/assets/system/ipconfig_all_ru.txt
  tests/assets/system/resolv.conf
  tests/assets/system/scutil_dns.txt
Labels: documentation, enhancement, rust, feature, docker

#309 docs(readme): remove incorrect notice about system servers autodetection when using docker
  README.md
Labels: documentation, enhancement

#310 docs(dockerhub): remove incorrect notice about system server autodetection
  docker/OVERVIEW.md
Labels: documentation, enhancement, docker

#313 docs(readme): update formatting of built-in servers list to the table with subtables
  README.md
Labels: documentation, enhancement

#314 docs(dockerhub): better formatting of custom servers examples links
  docker/OVERVIEW.md
Labels: documentation, enhancement, docker

#315 chore: add platform related prefixes for the system tests assets files
  src/system.rs
  tests/assets/system/linux_resolv.conf
  tests/assets/system/mac_scutil_dns.txt
  tests/assets/system/win_ipconfig_all.txt
  tests/assets/system/win_ipconfig_all_ru.txt
Labels: enhancement, rust, chore

#318 docs(changelog): add all unreleased changes
  CHANGELOG.md
Labels: documentation, enhancement
